
body{
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}

.navbar{
  background-color: white;
  color: #ff5a5f;
  display: flex;
  justify-content: flex-start;
  margin: 0;
  align-items: center;
  height: 10vh;
  border-bottom: 1px solid rgb(211, 211, 211);

}
.dashboard{
  display: flex;
  flex-direction: column;
}
#form{
  border: 1px solid rgb(211, 211, 211);
  margin-top: 10px;
  border-radius: 10px;
  padding: 5px

}
.form-style{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 20px 10px ;
  padding: 0px
  
}
.ap-style{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;


}
input{
  display: flex;
  flex-wrap: wrap;
  height: 20px;
  width: 200px;
  border-radius: 10px;
  margin: 5px
}
.host-style{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
 

}
#add-apartment{
  text-align: center;
}
.create-btn{
margin: 20px 270px;
border-radius: 20px;
border: 1px solid white;
height: 30px;
padding: 5px 10px;
width:200px;
background-color: #ff5a5f;
color: white

}
.logo{
  width: 60px;
  height: 60px;
  margin:10px;
}
.main-section{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  min-height: 70vh;
  background-color: white;
  padding: 0px;
  overflow:scroll;
  
}
.sidebar{
  background-color: rgb(255, 255, 255);
  width: 150px;
  min-height: 70vh;
  position: sticky; 
  top: 0px;
  border: 1px solid rgb(211, 211, 211)
  

}

.footer{
   background-color:rgb(202, 201, 201);
  display: flex;
  justify-content: center;
  margin: 0;
  align-items: center;
  height: 20vh;
  
}
.text{
  padding: 20px;

}
.listing{
  display: flex;
  border: 1px solid rgb(182, 182, 182);
  border-radius: 10px;
  padding: 15px;
  margin: 20px;
  
 
}
.description{
  display: flex;
  flex-direction: column;
  padding-left: 30px
}
.listing h4{
  margin: 15px;
}
.listing button{
  width: 60px;
  margin: 10px;
}
#picture{
  width: 300px;
  height: 200px;
}
a{
  text-decoration: none;
  color: black;
}
.apartment-details{
 margin: 20px;
}
.apartment-details img{
  height: 50vh;

}
.host-details{
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  background-color: #ff5a5f;
  align-items: center;
  align-content: center;
  width: 200px;
  padding: 5px;
  border-radius: 75px;
  color: #ffff;
}
.host-details img{
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  
}

.team-details {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
align-content: center;
padding: 20px;  
background-color: rgb(239, 239, 239);
width : 60%;
border-radius: 10px;
margin:0px 10px;


}
.team-details img{
  width: 100px;
  height: 100px;
  border-radius: 50px;
  border: 1px solid rgb(191, 191, 191);
  object-fit: cover;
  
  
}
.social-links{
  padding-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.social-links img{
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.team-members {
  display: flex;
  justify-content: space-around;
}
#our-team{
  font-size: 28px;
  margin-top:40px;
  margin-left: 10px
}

.nunito {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
.about-description{
margin:10px 10px;
}
.about-description h1{
  font-size: 28px;
}